.header {
  background-color: rgb(69, 131, 198);
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  height: 5rem;
  animation: rotate 15s linear infinite;
  transition: transform 0.5s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* large desktop */
@media screen and (min-width: 1500px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* desktop */
@media screen and (max-width: 1500px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* tablet */
@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

/* mobile */
@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.container {
  display: grid;
  gap: 2rem;
  padding: 2rem;
}

.box {
  border: 2px solid black;
  border-radius: 1rem;
  background-color: rgb(235, 235, 235);
  transition: 0.25s;
}

.box:hover {
  transform: scale(1.05);
  background-color: rgb(255, 255, 255);
}

body {
  background: rgb(201, 201, 201);
}


